<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>EM Association Hong Kong Limited</title>
<link href="../../css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main"><!-- Main starts here -->
<div id="header"><!-- Header starts here -->
	<div class="menu">
    	<ul id="menu">
        	<li class="home"><a href="#">home</a></li>
            <li class="about"><a href="#">About EM</a></li>
            <li class="products"><a href="#">EM PRODUCTS</a></li>
            <li class="contact"><a href="#">Links</a></li>
    	</ul>
    </div>
    <div class="subs" align="right">
    	<p>FIND US ON: <a href="#"><img src="../../images/rss.png" alt="" /></a><a href="http://www.facebook.com/profile.php?id=197614953626567" target="new"><img src="../../images/facebook.png" alt="" /></a></p>
    </div>
    <div class="subs_2" align="right">
   	  <p align="right"><a href="index.html">繁體</a> / <a href="./index_e.html">ENGLISH</a></p>
    </div>
</div><!-- Header ends here -->

<div class="clear"></div>

<div id="contentTop"></div><!-- Content starts here -->
<div id="content">
	
	<div class="welcomeHolder">
    <div class="welcome">
    	<img src="../../images/img01.jpg" alt="" />
		<h1>Welcome to EM Association, Hong Kong</h1>
        <p><em>EM Association Hong Kong Limited is the official company distributing EM products. </em></p>  
         <p align="right"><input type="button" value="VIEW OUR PRODUCTS" class="view" /></p> 
         <div class="clear"></div>
    </div>
    <div class="welcomeBottom"></div>
    </div>

	<div class="heading">Why EM?</div>
    <div class="organic">
    	<div class="organicHolder">
        	<div class="organicContent">
            	<img src="../../images/img02.jpg" alt="" />
                <h2>About Us</h2>
                <p></p>
            </div>
        </div>
        <div class="organicHolder">
        	<div class="organicContent">
            	<img src="../../images/img03.jpg" alt="" />
                <h2>What is EM?</h2>
                <p> </p>
            </div>
        </div>
        
        <div class="organicHolder">
        	<div class="organicContent">
            	<img src="../../images/img04.jpg" alt="" />
                <h2>Products</h2>
                <p></p>
            </div>
        </div>
    </div>
    
    <div class="space"></div>
    
     <div class="organic">
    	<div class="organicHolder">
        	<div class="organicContent">
            	<img src="../../images/img05.jpg" alt="" />
                <h2>Worldwide Links</h2>
                <p></p>
            </div>
        </div>
        <div class="organicHolder">
        	<div class="organicContent">
            	<img src="../../images/img06.jpg" alt="" />
                <h2>Contact Us</h2>
                <p></p>
            </div>
        </div>
        
        <div class="organicHolder">
        	<div class="vegetable">
            	<h1>Learn About Our Products!</h1>
            </div>
        </div>
    </div>
<div class="clear"></div>

<div class="hr"></div>
<div class="space"></div>
<div id="footer"><!-- Footer starts here -->

<div class="contactHeading">Contact Us</div>
<div class="footerHolder">
	<div class="footerLeft">
<!--     	<p class="left">Address:</p>
        <p class="right">Flat A, 6/F, Ka Woo Building, <br> 131 - 137 Woosung Street, <br>Jordan, Kowloon, <br>Hong Kong.<br /></p> -->
    </div>
    
    <div class="footerRight">
    	<p class="left">Phone: <br /> Fax: <br />Email: <br /></p>
	    <p class="right">+852 - 2730 6341 <br /> +852 - 2735 5777 <br /> emahkl@gmail.com <br /> </p>
    </div>
    <div class="clear"></div>
</div>
</div><!-- Footer ends here -->
</div>
<div id="contentBottom"></div><!-- Content ends here -->

<div class="bottomHolder">
<div class="copy">Copyright 2013 EM Association Hong Kong Limited</div>

</div>
</div><!-- Main ends here -->
</body>
</html>
